<div class="container">
  <div class="row">
    <%= form_for @user, url: {action: "create"}, html: {class: "col-md-6 col-md-offset-3", style: "padding-top: 50px; font-size: 1.125em"} do |f| %>
        <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :email, 'Votre email' %>
          <%= f.text_field :email, class: "form-control input-lg", :placeholder => "jules.bonGateau@mail.com", :type => "email", :required => "required",  :toto => "test" %>
        </div>
        <div class="form-group">
          <%= f.label :job_title, 'Votre métier' %>
          <%= f.text_field :job_title, class: "form-control input-lg", :placeholder => "Patissier" %>
        </div>
        <div class="form-group">
          <%= f.label :first_name, 'Votre prénom' %>
          <%= f.text_field :first_name, class: "form-control input-lg", :placeholder => "jules" %>
        </div>
        <%= f.fields_for :questions do |questions_form| %>
            <div class="form-group">
              <%= questions_form.hidden_field :identifier %>
              <%= questions_form.hidden_field :title %>
              <%= questions_form.label :answer, questions_form.object.title %>
              <%= questions_form.text_area :answer, :rows=>6, :class=>"form-control input-lg" %>
            </div>
        <% end %>
        <!--
        <div class="form-group">
          <label for="photo">Votre photo !</label>
          <%= f.file_field :photo %>
          <p class="help-block">C'est pour la galerie.</p>
        </div>
        -->
        <%= f.submit "Enregistrer", :class=>"btn btn-primary btn-block btn-lg", :style=>"margin-top: 25px"%>
    <% end %>
  </div>
</div>