- content_for :title, 'Connection au profil'
- content_for :hide_header, true
- content_for :hide_footer, true

.centered-square
  .center
    %h1.title Bienvenue à vous, ami bloomeur !

    %p Connectez-vous pour transmettre l'amour de votre métier à ceux qui cherchent leur place !

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = devise_error_messages!
      - flash.each do |name, msg|
        %p.error #{msg}
      = f.email_field :email, placeholder: 'Votre adresse mail', required: true, autofocus: true, class: 'nice-input'
      = f.password_field :password, placeholder: 'Votre mot de passe', autocomplete: 'off', required: true, class: 'nice-input'
      %div
        = f.check_box :remember_me
        = f.label :remember_me, 'Se souvenir de moi', style: 'font-weight: normal; font-style: italic'
      %div{style: 'position: relative; display: inline-block'}
        = f.submit 'Go Go Go !', class: 'crazy-btn yellow'
        .shadow

    = link_to "(Oups ... j'ai oublié mon mot de passe)", new_password_path(resource_name), class: 'link-center blue-under'

    %p
      Moi aussi je veux devenir un bloomeur
      %a.oeil{ href: enrollment_index_path, style: 'color: #3e3e3e; cursor: pointer; margin-top: 20px;' }
        S'inscrire sur Bloomr
        %span.glyphicon.glyphicon-arrow-right{style: 'margin: auto 10px;'}
