- content_for :title, 'Les tribus'
- content_for :description, "Une source d'inspiration pour trouver ta voie : des centaines de pros qui aiment leur métier racontent leur parcours et ouvrent le champ des possibles"

#tribes
  .container
    = image_tag 'tribes/feather.png', class: 'feather'
    %h1 Les tribus
    %h3 
      Bienvenue dans la galerie Bloomr ! <br/>
      Des pros heureux t'expliquent pourquoi ils aiment leur métier et leur parcours pour y arriver.<br/>
      Nous avons créé des tribus pour t'aider à naviguer dans l'océan des témoignages.
  
    -tribe = @tribes.first
    .row
      %ul.tribe-cards
        - @tribes.each_with_index do |tribe, index|
          %li.col-lg-4.col-md-4.col-sm-6.col-xs-12
            .wrapper{ class: tribe.name.gsub(' ', '').gsub("'", '').gsub('.', '').downcase }
              = link_to(tribe_path(tribe.normalized_name)) do
                .img-wrapper
                  = image_tag "tribes/#{tribe.name.gsub(' ', '').downcase}.png", class: 'portrait-avatar', width: '104px', height: '104px', alt: 'Photo '
                %h2.panel-title.portrait-job-title= tribe.name
                %span.members #{tribe.users.count} membres
              - tribe.top_keywords.each do |keyword|
                = link_to("##{keyword.tag.mb_chars.downcase.to_s}", tag_path(keyword.tag), class: 'tag')

  .container{ style: 'text-align: center;' }
    %h1.mess Les portraits en vrac
    
    %ul#portraits_list.row
      %li.col-lg-6.col-md-8.col-sm-12.col-xs-12.parcours-card
        %a{ href: 'http://inscription.bloomr.org' }
          .parcours
            %p
              Participe à notre programme,
              %br>/
              vient challenger ton orientation !
            %span.inscription Je m'inscris !
      - @portraits.each do |portrait|
        %li.col-lg-3.col-md-4.col-sm-6.col-xs-12{ itemscope: '', itemtype: 'http://schema.org/Person' }
          = render 'portraits/card', portrait: portrait

    - if @portraits.length > 0
      %nav#page-nav{ style: 'display: none;' }
        %a{ href: "/tribes?page=#{@page+1}" } page suivante

  = render 'shared/catchup_phrase'

  :javascript
    $(function(){
        $('#portraits_list').infinitescroll({
            loading: {
                finishedMsg: "<li><em>Félicitations, vous avez atteint la fin de la galerie</em></li>",
                msgText: "<li><em>Chargement des prochains portraits...</em></li>"
            },
            navSelector  : '#page-nav',
            nextSelector : '#page-nav a',
            itemSelector : '.col-lg-3.col-md-4.col-sm-6.col-xs-12',
            bufferPx: 400
        });
    });
