- content_for :title, @tribe.name
- content_for :description, @tribe.description
- content_for :header_background, asset_path('new_header/header-bg.png')

#tribes-show
  %section.intro
    %h1 #{@tribe.name}
    .list-wrapper
      %a{ href: tribe_path(@tribe.previous.normalized_name) }
        %span.other-tribe tribu précédente
        %br
        ←&nbsp;
        %span #{@tribe.previous.name}
      %p.subtitle #{@tribe.description}
      %a.right{ href: tribe_path(@tribe.next.normalized_name) }
        %span.other-tribe{style: 'text-align: right'} tribu suivante
        %br
        %span #{@tribe.next.name}
        →&nbsp;

  %ul
    - @users.each do |user|
      %li{ itemscope: true, itemtype: 'http://schema.org/Person' }
        = render 'portraits/card', portrait: user
