- content_for :title, "Programme de réflexion en ligne pour s'épanouir au travail - Bloomr"
- content_for :description, "Tu rêves de t'épanouir au travail mais ne sais pas par où commencer ? Le programme en ligne Bloomr: une solution originale pour réfléchir à ton avenir pro."

#program
  .intro
    .catch
      %h1 Tu rêves de t'épanouir au travail mais tu ne sais pas par où commencer ?
      %p.subtitle Le programme Bloomr t'aide à sortir du flou. Décide quelles études suivre, dans quel métier te reconvertir, ou quelle sera la prochaine étape de ton parcours.
      %p.subtitle Conçu pour tous ceux qui veulent prendre en main leur épanouissement professionnel, de 14 à 65 ans !

  %ul.summary
    %li
      %a{ 'data-link': 'presentation' } présentation du programme
    %li
      %a{ 'data-link': 'deroulement' } le déroulement
    %li
      %a{ 'data-link': 'inscription' } je m'inscris
    %li
      %a{ 'data-link': 'faq' } faq

  %section.solution#presentation
    %h1.title Une solution qui sort de l'ordinaire pour t'aider à trouver ta voie
    %p.goodChoice Pour faire les bons choix, pas de recette miracle : il faut prendre le temps de se poser les bonnes questions.
    %p
      L’approche Bloomr c’est un cocktail d’exercices éclairants, d’entraide, d’optimisme et d’inspiration concentré sur une plateforme en ligne, accessible d'où tu veux et quand tu veux.
      <br><br>
      Une série d'exercices originaux que tu peux débloquer à ton rythme, pour structurer ta réflexion et rassembler les bons indices

  %section.exercises
    = image_tag 'program/plateform.png'

  %section.advantages
    .list-wrapper
      %section
        %i.sprite.sprite-pen
        %h1 Des exercices et des tests
        %p qui te permettront de faire le point et de te poser les bonnes questions pour sortir du flou.
      %section
        %i.sprite.sprite-dialog
        %h1 Du partage et des échanges
        %p avec tous les inscrits, et avec des coachs professionnels pour t'accompagner.
      %section
        %i.sprite.sprite-boy
        %h1 Des pros heureux
        %p qui ont trouvé leur voie et racontent leur métier pour te faire découvrir de nouvelles pistes.

  %section.program#deroulement
    %h1.title 4 étapes. 21 exercices concrets 
    %p 
      Chaque exercice cible un thème précis.
      %br
      Il y en a pour tous les goûts : tests en ligne, questionnaires, mindmaps...
    = image_tag 'program/steps.png', class: 'hide-phone'

  %section.progress
    %h1.title Le déroulement
    = image_tag 'program/progress2.png'
    %ol
      %li Inscris-toi
      %li Reçois les exercices
      %li Viens chercher de l'aide sur le forum
      %li Fais des choix
      %li Passe à l'action

  %section.inscription
    %h1.title Inscription
    %p Choisis le programme qui te<br> correspond, et inscris-toi :
    %a.crazy-btn{ 'data-link': 'inscription' } #{ @campaign.amount_to_display('standard', '%d') }€ bloomiclassique
    %a.crazy-btn.green-btn{ 'data-link': 'inscription' } #{ @campaign.amount_to_display('premium', '%d') }€ bloomitandem

  %section.community
    %h1.title La force d'une communauté

    .columns-wrapper
      = image_tag 'program/forum.svg'
      %div
        %h2 Le forum
        %p 
          Pas facile de sortir du flou quand on n’a personne avec qui échanger. Avec Bloomr, tu n’es plus seul(e).
          %br 
          L’inscription te donne accès à notre communauté sur un forum privé. Tu pourras partager ton expérience avec d’autres inscrits, échanger et recevoir des conseils.
          %br 
          %br 
          %strong Offre présente dans tous les <a><u data-link='inscription'>programmes</u></a>

    .columns-wrapper
      = image_tag 'program/coachs.svg', class: 'small'
      %div 
        %h2 Les coachs
        %p 
          L'accès à un dialogue écrit confidentiel avec un coach professionnel : une option pour ceux qui souhaitent être accompagnés personnellement dans leur réflexion, et ainsi bénéficier d'éclairages pour préparer leurs décisions.
          %br 
          %br 
          %strong Offre présente dans le programme <a><u data-link='inscription'>bloomitandem</u></a>
      = image_tag 'program/coachs.svg', class: 'big'


  %section.warning
    %h1.title On préfère te prévenir ...
    %p
      Tu rêves peut-être du test ultime ou d’une formule magique qui t’indiquerait le métier idéal. Selon nous, ça n’existe pas.
      <br/><br/>
      Avec le programme Bloomr, pas de réponses toutes faites : notre méthode te permet de trouver par toi-même une direction bien plus pertinente et qui vienne de toi. Mais pour ça, tu dois être prêt à y consacrer un peu de temps.
    %a.crazy-btn{ 'data-link': 'inscription' } Je m'inscris !

  %section.benefits
    %h1.title Ce que tu y gagnes
    %p.win Le programme Bloomr t'apprend à t'orienter, quelle que soit l'étape de ton parcours professionnel où tu te trouves.
    %ul.list-wrapper
      %li
        %i.sprite.sprite-confiance
        %h3 Plus de confiance
        %p En toi et en l'avenir. You can do it !
      %li
        %i.sprite.sprite-reflexion
        %h3 Un cadre de réflexion
        %p Pour te poser les bonnes questions et sortir du flou
      %li
        %i.sprite.sprite-concret
        %h3 Du concret
        %p Des pistes pour avancer
      %li
        %i.sprite.sprite-bonne-attitude
        %h3 Le soutien d'une communauté
        %p Pour réfléchir et avancer à plusieurs
      %li
        %i.sprite.sprite-soutien
        %h3 La bonne attitude
        %p Curiosité, expérimentation, optimisme
      %li
        %i.sprite.sprite-reflexes
        %h3 Les bons réflexes
        %p Pour prendre en main ton avenir durablement

  %section.success
    %h1.title Ils ont avancé grâce à Bloomr ...
    %ul.ballon
      %li.trust
        %i.sprite.sprite-balloon1
        %p
          %span.number 80%
          %span.registered des inscrits
          <br/>ont une plus grande confiance dans leur avenir professionnel.
      %li
        %i.sprite.sprite-balloon2
        %p
          %span.number 84%
          %span.registered des inscrits
          <br/>y voient plus clair dans leur orientation.

    .blue-spacer 

    %ul.testimony
      %li
        %h2 Maëlle, 17 ans
        %p “Ce programme m'a énormément aidé. J'ai pris confiance en moi et j'ai vu que les idées que j'avais étaient loin d'être hors de portée.”
      %li
        %h2 Benoît, 25 ans
        %p "Le programme m'a permis de me poser des questions auxquelles je n'aurais pas pensé, de mieux me connaître donc mieux me situer."
      %li
        %h2 Sabine, 35 ans
        %p "J’apprécie beaucoup l’orientation choisie à savoir une réflexion sur l’être au-delà des savoir-faire, ce qui permet à chacun de s’y retrouver qu’on ait 20 ans, 35 ans ou plus."

  %section.subscription#inscription
    %h1.title Inscris-toi au programme !

    .wrapper
      .left
        %h2 le bloomi<b>classic</b>
        %p.detail Si tu veux explorer de manière autonome
        %p.price #{ @campaign.amount_to_display('standard', '%d') }€
        %ul
          %li 25 exercices à réaliser
          %li Les échanges avec la communauté sur le forum

        .btn-wrapper
          %a.crazy-btn{ href: payment_program_path('standard'), 'data-turbolinks' => 'false' } Inscription au bloomiclassic

      .right
        %h2 le bloomi<b>tandem</b>
        %p.detail Si tu veux être accompagné par un coach bienveillant
        %p.price #{ @campaign.amount_to_display('premium', '%d') }€
        %ul
          %li 25 exercices à réaliser
          %li Les échanges avec la communauté sur le forum
          %li Dialogue par écrit avec un coach professionnel (illimité)
        .btn-wrapper
          %a.crazy-btn.green-btn{ href: payment_program_path('premium'), 'data-turbolinks' => 'false' } Inscription au bloomitandem

    .links
      %a.gift{ href: '/partner/cadeau', 'data-turbolinks' => 'false' } Je souhaite offrir le programme à #{ @campaign.amount_to_display('standard', '%d') }€ ➞ 
      %a.help{ href: 'mailto:contact@bloomr.org' } Je n’ai pas les moyens de m’offrir le programme ➞

  %section.faq#faq
    %h1.title FAQ

    %h4 Est-ce que c’est un abonnement où on doit payer régulièrement pour continuer ?
    %p Ce n’est pas un abonnement, on paye une seule fois en tout et pour tout.

    %h4 Ça commence quand ?
    %p Tout de suite : tu accèdes directement à ton premier exercice, en ligne dans une plateforme dédiée.

    %h4 Ça va me prendre combien de temps ?
    %p Nous encourageons les inscrits à faire le parcours à leur rythme. Tu peux donc le faire en 4 semaines comme en trois mois, selon tes disponibilités. Tu peux compter 30min à 1h30 par mission, à raison d’une mission tous les uns ou deux jours.

    %h4 Et si je suis en retard ?
    %p Il n'y a pas de retard, pas de compétition, le seul rythme c'est le tien. Les exercices s'activent au fur et à mesure que tu les effectues. Si tu oublies complètement de venir pendant un certain temps, on te fera peut-être un petit coucou de rappel !

    %h4 Est-ce que je suis sûr de trouver mon prochain métier avec le parcours ?
    %p Le parcours Bloomr n’est pas une recette miracle. On ne peut pas te garantir d'un coup de baguette magique que tadaaaa, tu connaîtras ton futur métier (personne ne peut te promettre ça). Ce parcours demande du temps de réflexion. Mais 84% de ceux qui ont fini le parcours ont pu grâce à cela avancer dans leur orientation.
