<div class='my-work'>
  <div>
    <label>Vous êtes :</label>
    {{input value=model.user.jobTitle class='job_title' type='text' }}
  </div>

  {{#each model.user.questions as |question| }}
    <label>{{ question.title }}</label>
    {{input id=question.id value=question.answer type='hidden'}}
    <trix-editor input={{ question.id }}></trix-editor>
  {{/each}}

  <div style="text-align: center; margin-top: 30px;">
      <a class='crazy-btn' {{ action 'save' }} style="border-color: transparent;">Sauvegarder !</a>
  </div>
</div>
