- content_for :title, "Les métiers qui riment avec #{@keyword.tag}"
- content_for :og_title, 'Bloomr - Des professionnels passionnés parlent de leur métier'
- content_for :description, "#{@keyword.tag} : c'est le mot qui caractérise le métier de ces professionnels. Découvre leurs parcours et ce qui les fait vibrer"
- content_for :header_background, asset_path('header/header-bg.png')

#tag
  %section.intro
    %h1 #{@keyword.tag}
    .list-wrapper
      - if @keyword.description
        %p.subtitle #{@keyword.description}
      - else
        %p.subtitle
          Plus de 400 professionnels enthousiastes nous parlent de leur métier.
          %br
          Comment se voyaient-ils enfant et que sont-ils devenus ?
          %br
          À vous de le découvrir !

  %ul
    - @portraits.each do |portrait|
      %li{ itemscope: true, itemtype: 'http://schema.org/Person' }
        = render 'jobs/card', portrait: portrait
