= content_for :title, 'Paiement du Programme'
= content_for :hide_header, true
= content_for :hide_footer, true

#payment
  %header
    %div.left
      %span.white-logo
      %a.second{ href: 'javascript:history.back();' }
        ←&nbsp;
        %span.back RETOUR
        %br
        %span.sub Inscription au programme Bloomr
    %p.hide-phone Paiement sécurisé par <b>stripe</b>
  %section.main
    %h1.title Fabuleuse décision !

    %p.last-step Dernière étape avant de commencer le programme : l’inscription !
    = form_for Bloomy.new, url: '/payment' do |f|
      = f.text_field :first_name, placeholder: 'Prénom', required: true, autofocus: true
      = f.email_field :email, placeholder: 'Adresse email', required: true, 'data-stripe' => 'name'
      = f.text_field :age, placeholder: 'Âge', required: true

      .flash-messages
        - if flash[:error]
          %p #{flash[:error]}

      %p.and Et le paiement :)
      .payment2-cards

      %p
      = text_field_tag nil, nil, placeholder: 'Numéro de carte', required: true, class: 'large-cb cc-number', 'data-stripe' => 'number'
      = text_field_tag nil, nil, placeholder: 'MM/YY', required: true, class: 'small-cb cc-exp', 'data-stripe' => 'exp'
      = text_field_tag nil, nil, placeholder: 'CVC', required: true, class: 'small-cb cc-cvc', 'data-stripe' => 'cvc'

      %p.cgu
        En t'inscrivant au programme, tu acceptes les
        %a{ href: 'https://drive.google.com/file/d/0B6t2xBTfe9gaZzM5VHdrRlZJQm8/view' }conditions générales
        et certifie avoir 14 ans minimum. Remboursement sur simple demande dans un délai de 14 jours.

      = button_tag "Payer #{@price} €", class: 'crazy-btn yellow'
      %p ou bien
      %a.paypal{ href: "https://paypal.me/bloomr/#{@price}" }
        %span Payer avec 
        %span.payment2-paypal Paypal

  %footer
    %a{ href: '/' } Bloomr
