<div id='me'>
  <div class='background background-12'></div>
  <div class='orange'>
    <div class='panel'>
      <div class='top'>
        <a class='logo profile-sprite sprite-logo' href='/'>bloomr</a>
        <ul>
          <li class='bloomeurs'>
            <a href="/tribes"><span class='profile-sprite sprite-flower'></span>
            Les bloomeurs
            </a>
          </li>
          <li class='logout'>
            {{ component 'log-out' }}
          </li>
        </ul>
      </div>
      <div class='bottom'>
        <div class='image-wrapper'>
          {{component 'image-upload' user=model.user}}
          <img class='cloud animated' src='assets/images/profile/cloud.png' />
          <img class='cloud-left animated' src='assets/images/profile/cloud-left.png' />
        </div>
        <div class='info'>
          <p class='greetings'>Salut {{ model.user.firstName }} !</p>
          <p>
            <!-- {{join model.user.tribes 'name'}} -->
            {{#each model.user.tribes as |tribe|}}
              <a href='/tribes/{{tribe.normalizedName}}'>{{ tribe.name }}</a>
            {{/each}}
          </p>
          <ul>
            <li>
              {{#link-to 'whatsnew'}}Quoi de Neuf ?{{/link-to}}
            </li>
            <li>
              {{#link-to 'interview'}}Mon Témoignage{{/link-to}}
            </li>
            <li>
              {{#link-to 'challenges'}}Mes Challenges{{/link-to}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    {{outlet}}
  </div>
</div>
