#enrollment.full-blue
  - content_for :title, 'Inscription'
  .center
    %a.close{ href: '/' } X
    %h1 Bienvenue dans la communauté des bloomeurs* !

    %p Votre mission : transmettre l'étincelle qui vous fait vous lever le matin pour aider ceux qui s’interrogent sur leur avenir : les bloomies.

    %p{ style: 'margin: 40px 0;' }
      <b>Inspirer</b> : ouvrir le monde des possibles<br />
      <b>Rassurer</b> : montrer la diversité des parcours<br />
      <b>Booster</b> : donner une image positive du travail<br />
      <b>Lever le voile</b> : sur la réalité des métiers au delà des idées reçues

    %p{ style: 'margin: 40px 0;' }
      Première étape : vous inscrire puis témoigner sur votre métier et votre parcours.<br />

    - if flash[:errors]
      %p{ style: 'color: red' } #{flash[:errors]}

    =form_for @user, url: { action: 'create' } do |f|
      = f.text_field :first_name, placeholder: 'Votre prénom', required: true, class: 'blue'
      = f.email_field :email, placeholder: 'Votre adresse mail', required: true, class: 'blue'
      = f.password_field :password, placeholder: 'Votre mot de passe (8 caractères min)', required: true, class: 'blue', pattern:'.{8,}', title: '8 caractères au minimum'
      = f.text_field :job_title, placeholder: 'Votre métier', required: true, class: 'blue'
      %div{style: 'position: relative; display: inline-block'}
        = f.submit 'Go Go Go !', class: 'crazy-btn yellow'
        .shadow

    %a.link-center.blue-under{ href: '/me' } Je me suis déjà fait bloomiser

    %a.galerie{ href: tribes_path }
      %ul
        %li.sprite.dev-card
        %li.sprite.parole-card
        %li.sprite.radis-card
      %span.oeil Jetez un coup d'oeil à la galerie

    %p{ style: 'margin-top: 40px' } *Bloomeur, n.masc/fem. : personne généreuse qui partage l'amour de son métier avec ceux qui cherchent leur voie.
