- content_for :title, 'Inscription'
- content_for :hide_header, true
- content_for :hide_footer, true

#enrollment
  %header
    %div.left
      %span.white-logo
      %a.second{ href: 'javascript:history.back();' }
        ←&nbsp;
        %span.back RETOUR
    %a.hide-phone{ href: '/me' } Déjà Bloomeur, je me connecte →&nbsp;

  .main
    %h1.title Bienvenue dans la communauté des bloomeurs*&nbsp;!

    %p.mission Votre mission, si vous l’acceptez, sera de transmettre l’amour de votre métier pour inspirer ceux qui s’interrogent sur leur avenir (les bloomies). <br/>C’est-à-dire&nbsp;:

    %p.reasons
      <b>Inspirer</b> : ouvrir le monde des possibles<br />
      <b>Rassurer</b> : montrer la diversité des parcours<br />
      <b>Booster</b> : l’épanouissement pro, oui c’est possible !<br />
      <b>Lever le voile</b> : la réalité de votre métier au-delà des idées reçues

    %p.first-step PREMIÈRE ÉTAPE
    %p.inscription Inscrivez-vous pour commencer à témoigner <br />

    - if flash[:errors]
      %p{ style: 'color: red' } #{flash[:errors]}

    =form_for @user, url: { action: 'create' } do |f|
      = f.text_field :first_name, placeholder: 'Votre prénom', required: true, class: 'nice-input', autofocus: true
      = f.email_field :email, placeholder: 'Votre adresse mail', required: true, class: 'nice-input'
      = f.password_field :password, placeholder: 'Votre mot de passe (8 caractères min)', required: true, class: 'nice-input', pattern:'.{8,}', title: '8 caractères au minimum'
      = f.text_field :job_title, placeholder: 'Votre métier', required: true, class: 'nice-input'
      %div{style: 'position: relative; display: inline-block'}
        = f.submit 'GO GO GO !', class: 'crazy-btn'
        .shadow

    %p.subtitle *Bloomeur, n.masc/fem. : personne généreuse qui partage l'amour de son métier avec ceux qui cherchent leur voie.

    %a.galerie{ href: jobs_path }
      %ul
        %li.sprite.dev-card
        %li.sprite.parole-card
        %li.sprite.radis-card

  %footer
    %a{ href: '/' } Bloomr
