- content_for :hide_header, true
- content_for :hide_footer, true
- content_for :title, 'Inscription'

#bred
  %header
    %a.bred-logo{ href: '/' }
    .center
      %h1 Bienvenue dans le programme Bloomr !
      %p Avec ton inscription à la convention dédiée Jeunes, la BRED t'offre le programme d'orientation Bloomr
    %a.bred-bred{ href: 'https://www.bred.fr/' }

  #goodNews
    #p.show-phone
      Bonne nouvelle&nbsp;!

  %section#subscription
    %p Pour commencer illico à te poser les bonnes questions et tracer ta voie vers ton bonheur professionnel, renseigne ces quelques infos :

    = form_for Bloomy.new, url: '/bred/program/create', html: { class: 'hide-phone' } do |f|
      = f.hidden_field :source, value: "bred - #{params[:s]}"
      .input-wrapper
        = f.label :first_name, "Je m'appelle"
        = f.text_field :first_name, required: true
      .input-wrapper
        = f.label :email, 'Mon adresse mail est'
        = f.email_field :email, required: true
      .input-wrapper
        = f.label :age, 'Et je suis agé de'
        = f.number_field :age, required: true, class: 'number'
        %span ans
      .input-wrapper.cgu-wrapper
        %input#cgu{ type: 'checkbox', name: 'cgu', required: true }
        %label.cgu{ for: 'cgu' } J'ai lu et j'accepte <a href="https://drive.google.com/open?id=0B5vhXXQ9fdkqSkRrV1VuUXNfMGs">les conditions générales d'utilisation</a> et je certifie avoir 14 ans minimum
      = button_tag 'Inscription', class: 'crazy-btn'

    = form_for Bloomy.new, url: '/bred/program/create', html: { class: 'show-phone' } do |f|
      = f.hidden_field :source, value: "bred - #{params[:s]}"
      .input-wrapper
        = f.text_field :first_name, required: true, class: 'large', placeholder: "Je m'appelle"
      .input-wrapper
        = f.email_field :email, required: true, class: 'large', placeholder: "Mon adresse mail est"
      .input-wrapper
        = f.label :age, "Et j'ai"
        = f.number_field :age, required: true, class: 'number'
        %span ans
      .input-wrapper.cgu-wrapper
        %input#cgu{ type: 'checkbox', name: 'cgu', required: true }
        %label.cgu{ for: 'cgu' } J'ai lu et j'accepte <a href="https://drive.google.com/open?id=0B5vhXXQ9fdkqSkRrV1VuUXNfMGs">les conditions générales d'utilisation</a> et je certifie avoir 14 ans minimum
      = button_tag 'Inscription', class: 'crazy-btn'

  %section.for-you
    %h1.title Ce programme est fait pour toi si :
    %ul.list-wrapper
      %li Tu ne sais pas du tout quoi faire après tes études et tu ne sais pas par où commencer
      %li Ta formation ne convient pas à tes aspirations et tu aimerais être entouré et accompagné pour mieux faire ton prochain choix
      %li Tu as commencé un boulot et tu ne te sens pas à ta place

  %section.solution
    .centered-columns
      .left-column
        %h1.title Une solution qui sort de l’ordinaire pour t’aider à réfléchir
        %p
          Pour faire les bons choix, pas de recette miracle : il faut prendre le temps de se poser les bonnes questions.
          %br
          %br
          Le programme Bloomr est un parcours d'orientation en ligne qui te guide dans ta réflexion pour trouver ta voie tout en restant zen.
      = image_tag 'bred/map.png'

    %a.crazy-btn{ href: '#goodNews' } Je démarre l'aventure

  %section.program
    .bred-cloud1.animated
      .bred-cloud2.animated
        .bred-cloud3.animated
          %h1.title.green_and_underlined Au programme
    %h2 21 exercices originaux pour une expérience unique
    %p
      Le plus dur quand on se demande quel métier faire, c'est de savoir par ou commencer.
      %br
      Sors du flou en 4 étapes.

    = image_tag 'bred/steps.png'

    %p.mails Tu reçois les missions par mail. Le programme se fait de manière autonome et à ton rythme.

    %a.crazy-btn{ href: '#goodNews' } Ok c'est parti !

  %section.community
    .bred-bulle1.animated
    .bred-bulle2.animated
    .bred-bulle3.animated
    %h1.title.green_and_underlined Un espace de discussion
    %p Tu peux rejoindre un espace de discussion réservé aux inscrits et à l'équipe Bloomr pour partager tes résultats, avoir des retours et échanger avec le reste de la communauté.
    = image_tag 'bred/forum.png'

  %section.not-lonely
    .centered-columns
      .left-column
        %h1.title Tu n'es <del>pas</del> plus seul
        %p
          A tes côtés, il y a bien sûr l’équipe Bloomr.
          Il y a aussi les centaines de pros épanouis qui partagent leur parcours sur Bloomr pour te montrer l'immense variété des chemins possibles et t'inspirer dans ta quête.
          %br
          %br
          Et enfin, il y a tous ceux qui font le programme en même temps que toi. Tu auras accès à un espace de discussion privé où tu trouveras des conseils et des infos, et où tu pourras glaner et partager des idées. Un vrai coup de boost pour garder la motiv’, rester inspiré et inspirer les autres.

        %a{ href: '#goodNews' } HOP ! Je rejoins les chanceux qui ont déjà commencé

      = image_tag 'bred/people.png'

  %footer
    %a.white-logo{ href: '/' }
      %p
        © Bloomr 2016,
      %a{ href: 'https://drive.google.com/open?id=0B6t2xBTfe9gab0pEZUtEWVdLZkU' } Charte de confidentialité,
      %a{ href: 'https://drive.google.com/open?id=0B6t2xBTfe9gaazVLUzdGdmhwRnc' } CGU

