- content_for :title, 'Les avis'
- content_for :description, 'Ils ont été accompagnés par Bloomr et ils te donnent leur avis !'
- content_for :header_background, asset_path('header/header-bg.png')

#testimony
  %section.intro
    %h1 L'avis des participants
    .list-wrapper
      %p.subtitle Ils ont été accompagnés par Bloomr et ils te donnent leur avis !

  %section
    %ul
      - Testimony.all.sort_by(&:position).each_with_index do |t, i|
        %li{ class: "testi-#{i%5}" }
          %p.main #{t.body}
          - if t.avatar_file_name.blank?
            .legend.no-photo
              %p.text
                #{t.person} #{t.date}
          - else t.avatar_file_name.blank?
            .legend
              = image_tag t.avatar.url('thumb'), width: 50, height: 50
              %p.text
                #{t.person} #{t.date}
