- content_for :title, 'Les avis'
- content_for :description, 'Ils ont suivi le programme Bloomr et ils vous donnent leur avis !'
- content_for :header_background, asset_path('header/header-bg.png')

#testimony
  %section.intro
    %h1 L'avis des participants
    .list-wrapper
      %a{ href: bloomifesto_path }
        ←&nbsp;
        %span Le bloomifesto
      %p.subtitle Ils ont suivi le programme Bloomr et ils vous donnent leur avis !
      %a.right{ href: press_path }
        %span La presse 
        →&nbsp;

  %section
    %ul
      - Testimony.all.sort_by(&:position).each_with_index do |t, i|
        %li{ class: "testi-#{i%5}" }
          %h2 #{t.title}
          %p.main #{t.body}
          - if t.avatar_file_name.blank?
            .legend.no-photo
              %p.text
                %span #{t.person}
                #{t.date}
          - else t.avatar_file_name.blank?
            .legend
              = image_tag t.avatar.url('thumb'), width: 50, height: 50
              %p.text
                %span #{t.person}
                %br
                #{t.date}
