<div class="container">
  <section>
    <h1 class="section-title">Qu'est-ce que Bloomr ?</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("icons/heart.png", :alt => "Un état d'esprit", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Un état d'esprit</h2>
        <p>
          Bloomr rassemble des professionnels qui ont le souci des générations futures,
          et transmettent leur expérience pour aider des jeunes à trouver leur voie.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/arobase.png", :alt => "Une innovation sociale", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Une innovation sociale</h2>
        <p>
          Bloomr est un univers où des jeunes peuvent alimenter leur réflexion d'orientation,
          découvrir des métiers et trouver des clés pour leur avenir.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/globe.png", :alt => "Un projet collectif", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Un projet collectif</h2>
        <p>
          Bloomr est un projet ambitieux qui souhaite fédérer 100 000 volontaires de tous horizons
          et de tous métiers dans un délai court, et de manière collaborative.
        </p>
      </div>
    </div>
  </section>

  <section>
    <h1 class="section-title">Nos motivations</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("icons/baluchon.png", :alt => "Aider les jeunes à mieux s'engager dans la vie", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Aider les jeunes à mieux s'engager dans la vie</h2>
        <p>
          Parce que choisir une voie est difficile, et se fait souvent sans lien avec la réalité
          et la variété des métiers et des parcours.
        </p>
        <p>
          Parce qu'un éclairage par des professionnels passionnés peut allumer une flamme,
          éviter de faire de mauvais choix, et redonner confiance.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/loupe.png", :alt => "Les faire se projeter dans un avenir positif", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Les faire se projeter dans un avenir positif</h2>
        <p>
          Parce que choisir un métier puis les études qui y mènent est plus efficace et plus motivant que l'inverse.
        </p>
        <p>
          Parce qu'il y a autant de parcours que de volontaires heureux,
          ce qui leur montrera que tout est toujours possible, y compris les erreurs.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/circles.png", :alt => "Fédérer une communauté, au service d'une autre", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Fédérer une communauté, au service d'une autre</h2>
        <p>
          Nous pensons qu'il est plus que jamais nécessaire de se regrouper pour transmettre et éclairer.
        </p>
        <p>
          Nous voulons conjuguer le social, l'esprit d'entreprise et l’innovation au bénéfice de tous ceux qui s'interrogent
          sur leur orientation professionnelle.
        </p>
      </div>
    </div>
  </section>

  <section>
    <h1 class="section-title">Vos questions</h1>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("icons/aa.png", :alt => "Vous vous demandez comment ça marche ?", :class => "feature-icon-side", :width => "120px", :height => "120px") %>
      </div>
      <div class="col-md-7">
        <h2 class="feature-title">Vous vous demandez comment ça marche ?</h2>
        <p>
          S'inscrire à Bloomr en tant que professionnel, c'est prendre 5 minutes de son temps pour répondre à 3 premières questions.
          Le reste arrive, nous y travaillons, avec deux principes clé : la primauté de l'objectif social sur toute autre considération et
          la maîtrise par le professionnel de son niveau d'implication.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="feature-title">Vous vous demandez qui nous sommes ?</h2>
        <p>
          Nous sommes une <em>équipe de bénévoles Français</em>, heureux dans leur travail, à fibre altruiste et optimiste.
          Nous faisons partie de ceux qui pensent que la technique doit être mise au service de l'humain et de la société.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("icons/palette.png", :alt => "Vous vous demandez qui nous sommes ?", :class => "feature-icon-side", :width => "120px", :height => "120px") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("icons/lock.png", :alt => "Vous vous demandez ce que nous ferons de vos données personnelles ?", :class => "feature-icon-side", :width => "120px", :height => "120px") %>
      </div>
      <div class="col-md-7">
        <h2 class="feature-title">Vous vous demandez ce que nous ferons de vos données personnelles ?</h2>
        <p>
          Nous nous engageons à ce que les données personnelles vous concernant soient limitées au strict nécessaire,
          et ne soient jamais utilisées à d'autres fins que l'objectif social.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="feature-title">Vous voulez nous aider ?</h2>
        <p>
          Vous avez du talent, de l'énergie ? Vous souhaitez nous aider ? Dites-le-nous !
          À ce stade, nous recherchons des ambassadeurs pour relayer l'existence du projet, mais toute proposition est bienvenue.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("icons/palette-cercle.png", :alt => "Vous voulez nous aider ?", :class => "feature-icon-side", :width => "120px", :height => "120px") %>
      </div>
    </div>
  </section>
</div>