<% content_for :title, "Le concept" %>
<div class="container">
  <section class="static-section">
    <h1 class="section-title">Qu'est-ce que Bloomr ?</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("icons/arobase.png", :alt => "Un parcours d'orientation", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Un parcours d'orientation</h2>
        <p>
          Bloomr aide les jeunes à réfléchir à leur orientation avec enthousiasme à travers un parcours 100% numérique.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/heart.png", :alt => "Une communauté", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Une communauté</h2>
        <p>
          Bloomr rassemble toutes les générations dans un univers positif et bienveillant, pour l'éclosion des talents.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/globe.png", :alt => "Un projet ambitieux", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Un projet ambitieux</h2>
        <p>
          Bloomr utilise le numérique pour projeter 10 000 jeunes d’ici un an vers une vie professionnelle pleine de promesses.
        </p>
      </div>
    </div>
  </section>

  <section class="static-section">
    <h1 class="section-title">Nos motivations</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("icons/baluchon.png", :alt => "Aider les jeunes à mieux s'engager dans la vie", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Aider les jeunes à mieux s'engager dans la vie</h2>
        <p>
          Parce que trop de jeunes choisissent leur voie sans réfléchir suffisamment à leurs potentialités et à l’étendue des possibles.
        </p>
        <p>
          Parce qu’une réflexion construite, inspirante et collaborative peut allumer une flamme et redonner confiance.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/loupe.png", :alt => "Les faire se projeter dans un avenir positif", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Les faire se projeter dans un avenir positif</h2>
        <p>
          Parce que chacun de nous a en lui des ressources insoupçonnées, qui ne demandent qu’à s’exprimer.
        </p>
        <p>
          Parce qu’un métier qui permet d’utiliser ses forces et ses talents est un formidable facteur d’épanouissement.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("icons/circles.png", :alt => "Fédérer une communauté, au service d'une autre", :class => "feature-icon", :width => "80px", :height => "80px") %>
        <h2 class="feature-title">Fédérer une communauté, au service d'une autre</h2>
        <p>
          Nous pensons qu'il est plus que jamais nécessaire de se regrouper pour transmettre et éclairer.
        </p>
        <p>
          Nous voulons innover collectivement pour tous ceux qui s'interrogent sur leur orientation professionnelle.
        </p>
      </div>
    </div>
  </section>

  <section class="static-section">
    <h1 class="section-title">Comment ça marche</h1>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("icons/aa.png", :alt => "Tu es jeune et tu te poses des questions sur ton avenir ?", :class => "feature-icon-side", :width => "120px", :height => "120px") %>
      </div>
      <div class="col-md-7">
        <h2 class="feature-title">Tu te poses des questions sur ton avenir professionnel ?</h2>
        <p>
          Inscris-toi au <a href="http://inscription.bloomr.org">parcours Bloomr</a> et c’est parti, vous êtes déjà plus de 6000 à avoir tenté l’aventure !
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="feature-title">Vous aimez votre métier et vous voulez aider des jeunes ?</h2>
        <p>
          Pour commencer, rejoignez Bloomr <a href="https://www.bloomr.org/enrollment">en vous inscrivant sur le site</a> pour témoigner sur votre métier et votre parcours. Et ensuite, surprise ;-)</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("icons/palette.png", :alt => "Vous aimez votre métier et vous voulez aider des jeunes ?", :class => "feature-icon-side", :width => "120px", :height => "120px") %>
      </div>
    </div>
  </section>
</div>
