.container
  .row{ style: 'margin-top: 20px;' }
    .col-md-10.col-md-offset-1
      - if bloomy_signed_in?
        %p bonjour #{ current_bloomy.email } #{ link_to('(se déconnecter)', destroy_bloomy_session_path, :method => :delete) }
      - else
        #registration_part
          %p
            Déjà un compte ?
            %a(href=new_bloomy_session_path) Se logger

          - @bloomy = Bloomy.new
          = form_for @bloomy, url: bloomy_registration_path do |bloomy_form|
            .form-group
              = bloomy_form.email_field :email, placeholder: 'email', class: 'form-control', required: 'required'
            .form-group
              = bloomy_form.password_field :password, placeholder: 'mot de passe', autocomplete: "off", class: 'form-control', required: 'required'
            .form-group
              = bloomy_form.password_field :password_confirmation, placeholder: 'confirmation du mot de passe', autocomplete: "off", class: 'form-control', required: 'required'
            = submit_tag 'Créer votre compte', class: 'btn btn-default', id: 'create_account'

  .row{ style: 'margin-top: 20px;' }
    .col-md-10.col-md-offset-1
      =form_tag charges_path, id: 'payment' do
        %script{  src: 'https://checkout.stripe.com/checkout.js',
                  class: 'stripe-button',
                  data: { key: 'pk_test_gwg8v2Rba73NM4PPxoX0eAa8',
                          amount: '4000',
                          label: 'payer un parcours',
                          name: 'Bloomr',
                          description: '1 parcours (40,00 €)',
                          currency: 'eur',
                          image: image_url('bloomr-120.png'),
                          locale: 'fr' }}

:javascript
  var is_user_registered = #{ bloomy_signed_in? }

  var form_submission = function (e) {
    e.preventDefault();
    data = $form.serialize();
    action = $form.attr('action');
    $.post(action, data, function() {
      is_user_registered = true;
      update_payment_state();
    });
  };

  var $form = $('#new_bloomy');
  var $submit_payment = $('#payment button');


  var update_payment_state = function() {
    if(is_user_registered) {
      $submit_payment.attr('disabled', false);
    } else {
      $submit_payment.attr('disabled', true);
    }
  }

  $(function() {
    update_payment_state();
    $form.on('submit', form_submission);
  });
