- content_for :title, 'Qui sommes-nous'
- content_for :description, 'Une joyeuse troupe où règne la générosité et un esprit passionné. Notre rêve: que chacun puisse s’épanouir dans son travail et devenir artisan de sa vie pro'
- content_for :header_background, asset_path('new_header/header-bg.png')

#whoarewe
  %section.intro
    %h1 Qui sommes-nous ?
    .list-wrapper
      %a{ href: concept_path }
        ←&nbsp;
        %span Le concept 
      %p.subtitle Nous sommes les Bloom's, et notre fibre est altruiste et optimiste.
      %a.right{ href: bloomifesto_path }
        %span Le bloomifesto
        →&nbsp;

  %ul
    %li
      = image_tag('team/laurent.png', alt: 'Laurent Morel', height: '160', width: '160')
      %div
        %h2 Laurent Morel
        %p
          Curieux né, ingénieur de formation, c'est complètement par hasard que je suis devenu un professionnel de l'informatique
          à l'heure où celle-ci transforme nos sociétés.
        %q
          « Je pense que le moment est venu d'utiliser le numérique pour transformer l'orientation et accompagner tous ceux qui se posent des questions sur leur avenir. »
    %li
      = image_tag('team/virginie.png', alt: 'Virginie Boutin', height: '160', width: '160')
      %div
        %h2 Virginie Boutin
        %p
          Passionnée par les interactions humaines, je pratique avec enthousiasme l'ergonomie web et le coaching de professionnels. J'exerce à Paris et dans le Cloud.
        %q
          « Le travail occupe une place importante dans notre vie et il est pour moi essentiel d'y trouver du plaisir et du sens.
          Bloomr c'est notamment un réseau de professionnels heureux, et on a très envie de faire boule de neige&nbsp;! »
    %li
      = image_tag('team/simon.png', alt: 'Simon Lehericey', height: '160', width: '160')
      %div
        %h2 Simon Lehericey
        %p
          J'aime construire et aider à construire des logiciels qui répondent réellement à un besoin. C'est donc naturellement, et grâce à quelques passionnés,
          que je me suis rapproché des méthodes 'Lean' et agiles.
        %q
          « Je suis convaincu qu'en facilitant les échanges entre jeunes et professionnels, nous pouvons créer des vocations et donner du sens à leur travail. »
    %li
      = image_tag('team/guillaume.png', alt: 'Guillaume Baptiste', height: '160', width: '160')
      %div
        %h2 Guillaume Baptiste
        %p
          Autodidacte, toujours un crayon à la main, je suis passionné par tout ce qui ressemble de près ou de loin à la création visuelle, l'identité graphique, la peinture, les interfaces, la sculpture...
        %q
          « Je suis frappé par la fracture entre les écoles et le monde du travail. Je pense que l’orientation devrait avoir une place aussi importante que l’éducation en elle-même. »
    %li
      = image_tag('team/stephanie.png', alt: 'Stéphanie Pfeiffer', height: '160', width: '160')
      %div
        %h2 Stéphanie Pfeiffer
        %p
          Fraîchement diplômée d’école de commerce, je suis déterminée à relever le challenge d'inspirer les jeunes étudiants !
        %q
          « Mon truc, c’est créer de la magie : que ça soit à travers la photo de rue ou l’organisation d’événements insolites pour l’éducation.
          Ma mission ? Enrichir l'expérience Bloomr et rendre contagieux notre enthousiasme&nbsp;! »
    %li
      = image_tag('team/noemie.png', alt: 'Noëmie Martin-Pascual', height: '160', width: '160')
      %div
        %h2 Noëmie Martin-Pascual
        %p
          Spécialisée dans le marketing, j'aime surtout jouer le rôle de couteau-suisse. Ce qui m’anime, c’est de
          découvrir et de partager des choses nouvelles.
        %q
          « Trouver un travail qui nous correspond demande de se poser les bonnes questions et de faire preuve d’un peu
          d’audace et de beaucoup de volonté. Avec Bloomr, j'ai envie de créer les outils pour que chacun puisse prendre
          plaisir à trouver son propre chemin. »
