<div class="container">
  <section class="static-section">
    <h1 class="section-title">Qui sommes-nous ?</h1>
    <h2 class="lead-text">
      Nous sommes une équipe de bénévoles, heureux dans leur travail, à fibre altruiste et optimiste.
      Nous faisons partie de ceux qui pensent que la technique doit être mise au service de l'humain et de la société.
    </h2>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("team/laurent.png", :alt => "Laurent Morel", :class => "feature-icon-side") %>
      </div>
      <div class="col-md-7">
        <h2 class="feature-title">Laurent Morel</h2>
        <p>
          Curieux né, ingénieur de formation, c'est complètement par hasard que je suis devenu un professionnel de l'informatique
          à l'heure où celle-ci transforme nos sociétés.
        </p>
        <p>
          Je pense que le monde professionnel devrait participer massivement à la réflexion des jeunes sur leur orientation,
          et aider les jeunes à être acteurs de leur démarche. Nous lançons Bloomr pour changer cela, ensemble !
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="feature-title">Virginie Boutin</h2>
        <p>
          Passionnée par les interactions humaines, je pratique avec enthousiasme l'ergonomie web et le coaching.
          J'exerce à Paris, à Copenhague et dans le Cloud.
        </p>
        <p>
          Le travail occupe une place importante dans notre vie et il est pour moi essentiel d'y trouver du plaisir et du sens.
          Bloomr c'est un réseau de professionnels heureux, et ils ont envie de faire boule de neige !
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("team/virginie.png", :alt => "Virginie Boutin", :class => "feature-icon-side") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("team/simon.png", :alt => "Simon Lehericey", :class => "feature-icon-side") %>
      </div>
      <div class="col-md-7">
        <h2 class="feature-title">Simon Lehericey</h2>
        <p>
          J'aime construire et aider à construire des logiciels qui répondent réellement à un besoin. C'est donc naturellement, et grâce à quelques passionnés,
          que je me suis rapproché des méthodes "Lean" et agiles.
        </p>
        <p>
          Je suis convaincu qu'en facilitant les échanges entre jeunes et professionnels,
          nous pouvons créer des vocations et donner du sens à leur travail.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="feature-title">Matthieu Balmes</h2>
        <p>
          Entrepreneur, ingénieur passionné et touche-à-tout, je suis spécialisé dans le développement d’applications web et mobile.
          J’apprécie les interfaces intuitives et modernes que l'on a plaisir à utiliser.
        </p>
        <p>
          L’aide à l'orientation des jeunes est aujourd’hui une cause cruciale. Le partage et la transmission sont parmi les valeurs de Bloomr
          celles qui m’ont donné le plus envie de faire partie de cette belle aventure.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("team/matthieu.png", :alt => "Matthieu Balmes", :class => "feature-icon-side") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("team/guillaume.png", :alt => "Guillaume Baptiste", :class => "feature-icon-side", :style => "width: 200px; height: 200px; border-radius: 100px;") %>
      </div>
      <div class="col-md-7">
        <h2 class="feature-title">Guillaume Baptiste</h2>
        <p>
          Autodidacte, toujours un crayon à la main, je suis passionné par tout ce qui ressemble de près ou de loin à la création visuelle, l'identité graphique, la peinture, les interfaces, la sculpture...
        </p>
        <p>
          Je suis frappé par la fracture entre les écoles et le monde du travail. Je pense que l’orientation devrait avoir une place aussi importante que l’éducation en elle-même.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="feature-title">Stéphanie Pfeiffer</h2>
        <p>
          Fraîchement diplômée d’école de commerce, je suis déterminée à relever le challenge d'inspirer les jeunes étudiants !
        </p>
        <p>
          Mon truc, c’est créer de la magie: que ça soit à travers la photo de rue ou l’organisation d’événements insolites pour l’éducation.
          Ma mission ? Enrichir l'expérience Bloomr et rendre contagieux notre enthousiasme !
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag("team/stephanie.png", :alt => "Stéphanie Pfeiffer", :class => "feature-icon-side") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag("team/noemie.png", :alt => "Noëmie Martin-Pascual", :class => "feature-icon-side", :style => "width: 200px; height: 200px; border-radius: 100px;") %>
      </div>
      <div class="col-md-7">
        <h2 class="feature-title">Noëmie Martin-Pascual</h2>
        <p>
          Spécialisée dans le marketing, j'aime surtout jouer le rôle de couteau-suisse. Ce qui m’anime, c’est de
          découvrir et de partager des choses nouvelles.
        </p>
        <p>
          Trouver un travail qui nous correspond demande de se poser les bonnes questions et de faire preuve d’un peu
          d’audace et de beaucoup de volonté. Avec Bloomr, j'ai envie de créer les outils pour que chacun puisse prendre
          plaisir à trouver son propre chemin.
        </p>
      </div>
    </div>
  </section>
</div>