= link_to(portrait_path(portrait), class: "card background-#{(portrait.id) %22}") do
  = image_tag portrait.avatar.url('thumb'), width: '104px', height: '104px', alt: 'Photo de ' + portrait.first_name
  .overlay
    %h3 #{ portrait.first_name }
    %h2 #{ truncate(portrait.job_title, length: 70, separator: ' ', omission: '...') } 
    .quote.hide-phone
      = image_tag('portrait/icon-quote_in.png', height: '14px', width: '27px')
      - if portrait.answer_to('love_job')
        %blockquote
          = truncate(raw(portrait.answer_to('love_job')), length: 100, separator: ' ', omission: '')
          \...
    %button.hide-phone ... Lire la suite

