.portrait_header.intro{ itemscope: '', itemtype: 'http://schema.org/Person' }
  .top
    .image-wrapper
      = image_tag @portrait.avatar.url('thumb'), class: 'portrait-avatar', 
        itemprop: 'image', alt: 'Photo de ' + @portrait.first_name,
        width: '92px', height: '92px'
      %span.portrait-cloud.animated
      %span.portrait-cloud-left.animated

    %h3
      Hello ! Je m'appelle
      %span{itemprop: 'name'}= @portrait.first_name
    %h1
      Je suis
      %span{itemprop: 'jobTitle'}= @portrait.job_title

  .list-wrapper
    %div
      .spacer
      %p.sub Mon métier en #{@portrait.keyword_associations.length} mots
      %ul.keywords{itemprop: 'keywords'}
        - @portrait.keyword_associations.each do |keyword_association|
          %li
            - if keyword_association.keyword_popular?
              %a{ href: tag_path(keyword_association.keyword.tag) }
                = keyword_association.keyword.tag.downcase
            - else
              = keyword_association.keyword.tag.downcase

    %div
      .spacer
      %p.sub Mes tribus
      %ul.tribes
        - @portrait.tribes.each do |t|
          %li 
            %a{ href: tribe_path(t.normalized_name) } #{t.name}
  
    %div.social
      .spacer
      %p.sub Partage mon profil
      %a.portrait-facebook.fb{ href: "https://www.facebook.com/sharer/sharer.php?u=#{portrait_url(@portrait)}", target: '_blank' }
      %a.portrait-twitter{ href: "https://twitter.com/intent/tweet?text=#{ yield(:description) }&url=#{portrait_url(@portrait)}", target: '_blank' }
