<h1>Portraits</h1>

<ul id="portraits_list" class="row">
  <% @portraits.each do |portrait| %>
    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12 portrait-item">
      <div class="panel panel-default h-card">
        <div class="panel-heading">
          <h2 class="panel-title portrait-job-title p-job-title"><%= portrait.job_title %></h2>
        </div>

        <div class="panel-body">

          <div class="portrait-infos">
            <%= image_tag portrait.avatar.url("thumb"), :class => "portrait-avatar u-photo" %>
            <!--<div class="portrait-infos-right">-->
              <h3 class="portrait-infos-right portrait-name p-given-name"><%= portrait.first_name %></h3>
            <!--</div>-->
          </div>

          <p class="portrait-love-job"><%= portrait.answer_to('love_job') %></p>

          <ul class="portrait-keywords">
            <% portrait.keyword_list.each do |keyword| %>
                <li><%= keyword %></li>
            <% end %>
          </ul>

          <p class="portrait-specifically p-role"><%= portrait.answer_to('specifically') %></p>

        </div>
      </div>
    </li>
  <% end %>
</ul>