<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Galerie</a></li>
    <li class="active"><a href="<%= portrait_path(@portrait)%>"><%= @portrait .first_name %></a></li>
  </ol>

  <div id="portrait_details" class="h-card">
    <div class="row">
      <div class="portrait-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="portrait-header background-<%= (@portrait.id) %16 %>">
          <%= image_tag @portrait.avatar.url("thumb"), :class => "portrait-avatar u-photo" %>
          <div>
            <h3 class="portrait-name p-given-name"><%= @portrait.first_name %></h3>
            <h2 class="portrait-job-title p-job-title"><%= @portrait.job_title %></h2>
          </div>
        </div>
        <ul class="portrait-keywords">
          <% @portrait.keyword_list.each do |keyword| %>
              <li><%= keyword %></li>
          <% end %>
        </ul>
      </div>
      <div class="portrait-main col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <ul class="portrait-questions">
          <% @portrait.questions.each do |question| %>
              <li>
                <h4 class="portrait-question-title"><%= question.title %></h4>
                <p class="portrait-question-answer"><%= raw(question.answer) %></p>
              </li>
          <% end %>
        </ul>


      </div>
      <div class="other-questions-coming">
        <p>
          Bientôt, d'autres réponses à d'autres questions.
        </p>
        <p>
          <a>Retour à la galerie</a>
        </p>
      </div>
    </div>
  </div>
</div>
