<% content_for :title, "#{@portrait.job_title}" %>
<% content_for :og_title, "#{@portrait.first_name} partage la passion de son métier sur Bloomr : #{@portrait.job_title}" %>
<% content_for :description, "#{@portrait.first_name} est #{@portrait.job_title} et décrit son métier " %>
<% content_for :og_img_url, @portrait.avatar.url("thumb") %>

<div id="portrait_details_2" itemscope itemtype="http://schema.org/QAPage">
  <div class="portrait_header background-<%= (@portrait.id) %22 %>" itemscope itemtype="http://schema.org/Person">
      <%= image_tag @portrait.avatar.url("thumb"), :class => "portrait-avatar", :itemprop => "image", :alt => "Photo de " + @portrait.first_name %>
      <h3>Hello ! Je m'appelle <span class="portrait-name" itemprop="name"><%= @portrait.first_name %></span></h3>
      <h1>Je suis <span class="portrait-job-title" itemprop="jobTitle"><%= @portrait.job_title %></span></h1>
      <div class="container keywords">
          <div class="row">
            <div class="col-md-10">
              <div class="mark"></div>
              <p>
                Mon métier en <%= @portrait.keyword_associations.length %> mots
              </p>
              <ul class="portrait-keywords" itemprop="keywords">
                <% @portrait.keyword_associations.each do |keyword_association| %>
                    <% if @portrait.is_keyword_popular(keyword_association.keyword) %>
                        <li><a href="<%= tag_path(keyword_association.keyword.tag) %>" class="portrait-keyword"><% keyword_association.keyword.tag[0] = keyword_association.keyword.tag[0].capitalize %><%= keyword_association.keyword.tag %></a>
                        </li>
                    <% else %>
                        <li><span class="portrait-keyword"><% keyword_association.keyword.tag[0] = keyword_association.keyword.tag[0].capitalize %><%= keyword_association.keyword.tag %></span>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
            <div class="col-md-2">
              <div class="mark"></div>
              <p>Partage mon profil</p>
              <a class="social-share-button fb" href="https://www.facebook.com/sharer/sharer.php?u=<%= portrait_url(@portrait) %>" target="_blank">
                <img src="<%= image_path('icons/facebook.png') %>">
              </a>
              <a class="social-share-button" href="https://twitter.com/intent/tweet?url=<%= portrait_url(@portrait) %>" target="_blank">
                <img src="<%= image_path('icons/twitter.png') %>">
              </a>
            </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="sectionsBox col-md-8 col-md-offset-2" role="tablist">
        <li role="presentation"><a id="interview" href="#portrait_details" aria-controls="portrait_details" role="tab" class="active"><span class="quote"></span>mon interview</a></li>
        <li role="presentation"><a id="work" href="#my-work" aria-controls="my-work" role="tab"><span class="luggage"></span>mon travail</a></li>
      </ul>
    </div>
  </div>

  <div id="portrait_details" role="tabpanel" style="display: none;" class="container-wrapper">
    <div class="container">
      <div class="row">
        <div  class="col-md-8 col-md-offset-2">
          <div class="row">
            <blockquote class="portrait-love-job">
              <%= raw(@portrait.answer_to('love_job')) %>
            </blockquote>
          </div>
          <div class="portrait-main">
            <ul class="portrait-questions">
              <% @portrait.questions_to_display.sort { |q1, q2| q1 <=> q2 }.each do |question| %>
                  <li itemscope itemtype="http://schema.org/Question" data-section-id="<%= question.id %>" class="commentable-section">
                    <h4 itemprop="name" class="portrait-question-title"><%= question.title %></h4>
                    <div class="portrait-question-answer" itemscope itemtype="http://schema.org/Answer">
                      <span itemprop="text"><%= question.answer.html_safe %></span></div>
                  </li>
              <% end %>
            </ul>
            <p class="merci">Merci <%= @portrait.first_name %> :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="my-work" role="tabpanel">

    <div class="container-wrapper">
      <div class="container">
        <div class="row">
          <div  class="col-md-8 col-md-offset-2">

            <div class="row section">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <p>Je travaille dans une structure</p>
                    <% q = @portrait.questions.select {|q| q.identifier == "how_many_people_in_company" }.first %>
                    <p class="people"><%= q.answer %></p>
                  </div>
                  <div class="col-md-6">
                    <span class="company-size company-size-<%= q.discret_company_size %>"></span>
                  </div>
                </div>
              </div>
              <div class="visible-xs visible-sm small-spacer"></div>
              <div class="col-md-6" style="position: relative">
                <div class="team-container">
                  <p>Au quotidien, je travaille plutôt en équipe</p>
                  <% q = @portrait.questions.select { |q| q.identifier == "solo_vs_team" }.first %>
                  <span class="team team-<%= q.answer %>"></span>
                </div>
              </div>
            </div>
            <div class="visible-xs visible-sm small-spacer"></div>
            <div class="row section">
              <div class="col-md-4">
                <p>Lors d'une journée typique, je suis en relation avec</p>
              </div>
              <div class="col-md-8 relationships">
                <% q = @portrait.questions.select {|q| q.identifier == "who_do_you_work_with" }.first %>
                <p><%= q.answer %></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row section">
            <div class="col-md-6">
              <p>La connaissance d'une langue étrangère est obligatoire pour exercer mon métier</p>
            </div>
            <div class="col-md-6">
              <% q = @portrait.questions.select {|q| q.identifier == "foreign_language_mandatory" }.first %>
              <% q.answer.to_i.times do %><span class="flag flag-on"></span><% end %><% (5 - q.answer.to_i).times do %><span class="flag flag-off"></span><% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="section">
              <div class="row">
                <div class="col-md-6 light-container">
                  <p>Je travaille plutôt à l'extérieur</p>
                  <% q = @portrait.questions.select {|q| q.identifier == "inside_or_outside_work" }.first %>
                  <% q.answer.to_i.times do %><span class="location location-outside"></span><% end %><% (5 - q.answer.to_i).times do %><span class="location location-inside"></span><% end %>
                </div>
                <div class="visible-xs visible-sm small-spacer"></div>
                <div class="col-md-6">
                  <p>On me dit précisément ce que<br />je dois faire</p>
                  <% q = @portrait.questions.select {|q| q.identifier == "self_time_management" }.first %>
                  <% q.answer.to_i.times do %><span class="v v-ok"></span><% end %><% (5 - q.answer.to_i).times do %><span class="v v-ko"></span><% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="actions2">
    <div>
      <a href="/portraits/previous?id=<%= @portrait.id %>"><span class="glyphicon glyphicon-arrow-left"></span>personne précédente</a>
    </div>
    <div class="middle">
      <a href="<%= aleatoire_portraits_path %>" class="btn btn-primary hidden-xs">Et un témoignagne au hasard ! Un !</a>
      <a href="<%= aleatoire_portraits_path %>" class="btn btn-primary visible-xs">au hasard !</a>
      <span><a href="<%= root_path %>">Retour à la galerie</a></span>
    </div>
    <div>
      <a href="/portraits/next?id=<%= @portrait.id %>"><span class="glyphicon glyphicon-arrow-right"></span>personne suivante</a>
    </div>
  </div>
  <div class="enrollment">
    <p><span>Vous voulez aider nos jeunes ? C'est ici ! > </span><a href="https://bloomr.typeform.com/to/ZDAyNU" class="btn btn-primary">Témoignez</a></p>
  </div>
</div>


<script>
  $(function(){
      var workLink = $('#work');
      var interviewLink = $('#interview');
      var workSection = $('#my-work');
      var interviewSection = $('#portrait_details');

      workLink.click(function(e){
          e.preventDefault();
          workSection.show();
          interviewSection.hide();
          workLink.addClass('active');
          interviewLink.removeClass('active');
      });

      interviewLink.click(function(e){
          e.preventDefault();
          workSection.hide();
          interviewSection.show();
          workLink.removeClass('active');
          interviewLink.addClass('active');
      });
  });
</script>
