<% content_for :title, "#{@portrait.job_title}" %>
<% content_for :og_title, "#{@portrait.first_name} partage la passion de son métier sur Bloomr : #{@portrait.job_title}" %>
<% content_for :description, "#{@portrait.first_name} est #{@portrait.job_title} et décrit son métier " %>
<% content_for :og_img_url, @portrait.avatar.url("thumb") %>

<div id="portrait_details_2" itemscope itemtype="http://schema.org/QAPage">
  <%= render 'header' %>

  <%= render 'header' %>

  <%= render 'links' %>
  <%= render 'books' %>

  <%= render 'my_interview' %>
  <%= render 'my_books' %>
  <%= render 'my_work' %>

  <%= render 'actions' %>

  <div class='enrollment'>
    <p><span>Vous voulez aider nos jeunes ? C'est ici ! > </span><a href='http://eepurl.com/1-BOT' class='btn btn-primary'>Témoignez</a></p>
  </div>
</div>
