<% content_for :title, "#{@portrait.job_title}" %>
<% content_for :og_title, "#{@portrait.first_name} partage la passion de son métier sur Bloomr : #{@portrait.job_title}" %>
<% content_for :description, "#{@portrait.first_name} est #{@portrait.job_title} et décrit son métier " %>
<% content_for :og_img_url, @portrait.avatar.url("thumb") %>
<div class="container" itemscope itemtype="http://schema.org/QAPage">
  <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/">Galerie</a></li>
    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="<%= portrait_path(@portrait)%>"><%= @portrait .first_name %></a></li>
  </ol>

  <div id="portrait_details">
    <div class="row">
      <div class="portrait-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="portrait-header background-<%= (@portrait.id) %22 %>" itemscope itemtype="http://schema.org/Person">
          <%= image_tag @portrait.avatar.url("thumb"), :class => "portrait-avatar", :itemprop => "image", :alt => "Photo de " + @portrait.first_name %>
          <div>
            <h3 class="portrait-name" itemprop="name"><%= @portrait.first_name %></h3>
            <h1 class="portrait-job-title" itemprop="jobTitle"><%= @portrait.job_title %></h1>
          </div>
        </div>
        <ul class="portrait-keywords" itemprop="keywords">
          <% @portrait.keyword_list.each do |keyword| %>
              <li><% keyword[0] = keyword[0].capitalize %><%= keyword %></li>
          <% end %>
        </ul>
      </div>
      <div class="portrait-main col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <ul class="portrait-questions">
          <% @portrait.questions.sort_by { |question| question.title }.each do |question| %>
              <li itemscope itemtype="http://schema.org/Question">
                <h4 itemprop="name" class="portrait-question-title"><%= question.title %></h4>
                <div class="portrait-question-answer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text"><%= question.answer.html_safe %></span></div>
              </li>
          <% end %>
        </ul>
        <div class="other-questions-coming">
          <p>
            ... Et bientôt sur Bloomr, d'autres réponses à d'autres questions.
          </p>
          <p>
            <a href="/">Retour à la galerie</a>
          </p>
        </div>
        <div style="margin-top: 30px;">
          <%= render "shared/catchup_phrase" %>
        </div>
      </div>
    </div>
  </div>
</div>
