.container
  .row
    .col-md-6.col-md-offset-3
      %h1 #{ current_user.email }

      = form_for current_user, url: me_path do |f|
        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'
        - current_user.questions_to_display.sort_by(&:position).each do |question|
          .form-group.editable-group
            = f.fields_for :questions, question do |ff|
              = ff.label question.title
              = render 'toolbar'
              - name = ff.object_name + '[answer]'
              %div.editor{ name: name, style: 'border: 1px solid rgba(0, 0, 0, 0.1);' }
                #{ raw(ff.object.answer) }
        %br
          = f.submit 'modifier'

        = link_to('Se déconnecter', destroy_user_session_path, :method => :delete)
