#me.container
  .row
    .col-md-3.menu
      = image_tag current_user.avatar.url('thumb'), :class => 'img-circle center-block', :alt => 'Photo de ' + current_user.first_name
      %p#first_name #{ current_user.first_name }
      %ul
        %li.control-panel-trigger.on Mon tableau de bord
        %li.questions-trigger Mon portrait
        %li
          = link_to('Se déconnecter', destroy_user_session_path, :method => :delete)

    .col-md-8.main-panel
      .control-panel
        %h1 Mon tableau de bord
        %p Mon profil a été vu #{ current_user.last_month_view_count } fois le mois dernier

      .questions{ style: 'display: none;' }
        %h1 Mon #{ %w( magnifique incroyable sublime auguste splendide remarquable somptueux ).sample } portrait

        = form_for current_user, url: me_path do |f|
          .form-group
            = f.label :job_title, 'Le nom de votre métier :'
            = f.text_field :job_title, class: 'form-control'

          %h2 Les questions :
          - current_user.questions_to_display.sort_by(&:position).each do |question|
            .form-group.editable-group
              = f.fields_for :questions, question do |ff|
                = ff.label question.title
                = render 'toolbar'
                - name = ff.object_name + '[answer]'
                %div.editor{ name: name }
                  #{ raw(ff.object.answer) }
          %br
            = f.submit 'Sauvegarder', class: 'btn btn-primary center-block'
