<!DOCTYPE html>
<html class="no-js">
<head>
  <title><%= yield(:title) %> - Bloomr</title>
  <%= favicon_link_tag('favicon.ico')%>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="<%= yield(:description) %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="<%= yield(:og_img_url) %>" />
  <meta property="og:site_name" content="bloomr" />
  <meta name="twitter:title" property="og:title" itemprop="title name" content="<%= yield(:og_title) %>" />
  <meta name="twitter:description" property="og:description" itemprop="description" content="<%= yield(:description) %>" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="community.bloomr.org"/>
  <link href="//fonts.googleapis.com/css?family=Lobster" media="screen" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300italic,600italic,300,600|Quando|Josefin+Slab:400,700,400italic,700italic|Trocchi|Arvo|Lato:300,400,700,300italic,400italic,700italic|Raleway:200,300,700|Playfair+Display:400,700,400italic,700italic|Bitter:400,700,400italic|Vollkorn:400,400italic|Titillium+Web|EB+Garamond&amp;subset=latin,latin-ext" media="screen" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.optimizely.com/js/2221001338.js" data-turbolinks-track></script>
  <script src="https://d26b395fwzu5fz.cloudfront.net/3.2.4/keen-tracker.min.js" type="text/javascript" data-turbolinks-track></script>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="header" class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" aria-label="BLOOM'R"></a>
      <ul class="nav navbar-nav search-and-idea pull-right">
        <li>
          <a href="#" class="searchButton"><span class="glyphicon glyphicon-search"></span></a>
        </li>
        <li>
          <a href="https://bloomr.typeform.com/to/B6Tb9E"><span class="boiteAIdee"></span></a>
        </li>
        <li class="hidden-xs" style="font-weight: bold;">
          <a class="btn btn-primary" href="https://bloomr.typeform.com/to/ZDAyNU">Rejoignez-les !</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs"><a href="<%= root_path %>" class="<% if current_page?(root_path) %>active <% end %>"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="<%= root_path %>">La communauté</a></li>
        <li><a href="<%= le_concept_path %>" class="<% if current_page?(le_concept_path) %>active <% end %>">Le concept</a></li>
        <li><a href="<%= qui_sommes_nous_path %>" class="<% if current_page?(qui_sommes_nous_path) %>active <% end %>">Qui sommes-nous</a></li>
        <li style="font-weight: bold;"><a href="https://bloomr.typeform.com/to/ZDAyNU">vous aussi, témoignez !</a></li>
        <li class="social"><a href="https://twitter.com/bloomr4youth"><span class="twitter"></span><span class="social">Suivez-nous !</span></a></li>
        <li class="social"><a href="https://www.facebook.com/bloomr4youth"><span class="facebook"></span><span class="social">Aimez-nous !</span></a></li>
      </ul>
    </div>
  </div>
  <div class="mobile-search">
    <div class="container version2">
      <div class="row">
        <div class="col-md-12 searchBox">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" placeholder="Rechercher" class="search-box">
        </div>
      </div>
    </div>
  </div>
</nav>

<%= yield %>

<footer id="footer">
  <div class="container">
    <p>Bloomr - Copyright 2014-2015 - Déclaration CNIL 1779982v0 - <a href="mailto:contact@bloomr.org">contact@bloomr.org</a></p>
  </div>
</footer>

<%= javascript_include_tag "search", "data-turbolinks-track" => false, :async => true  %>

<script type="text/javascript">
    window.keenClient = new Keen({
        projectId: "<%= ENV['KEEN_PROJECT_ID'] %>",
        writeKey: "<%= ENV['KEEN_WRITE_KEY'] %>"
    });
</script>

</body>
</html>
