!!!
%html.no-js{ lang: 'fr' }
  %head
    %title #{yield(:title)} - Bloomr

    %link{ href: '/apple-touch-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57' }
    %link{ href: '/apple-touch-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60' }
    %link{ href: '/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: '/apple-touch-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76' }
    %link{ href: '/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114' }
    %link{ href: '/apple-touch-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120' }
    %link{ href: '/apple-touch-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144' }
    %link{ href: '/apple-touch-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152' }
    %link{ href: '/apple-touch-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180' }
    %link{ href: '/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png' }
    %link{ href: '/favicon-194x194.png', rel: 'icon', sizes: '194x194', type: 'image/png' }
    %link{ href: '/favicon-96x96.png', rel: 'icon', sizes: '96x96', type: 'image/png' }
    %link{ href: '/android-chrome-192x192.png', rel: 'icon', sizes: '192x192', type: 'image/png' }
    %link{ href: '/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png' }
    %link{ href: '/manifest.json', rel: 'manifest' }
    %link{ color: '#5bbad5', href: '/safari-pinned-tab.svg', rel: 'mask-icon' }
    - if content_for?(:canonical)
      %link{ href: yield(:canonical), rel: 'canonical' }

    %meta{ content: 'Bloomr', name: 'apple-mobile-web-app-title' }
    %meta{ content: 'Bloomr', name: 'application-name' }
    %meta{ content: '#da532c', name: 'msapplication-TileColor' }
    %meta{ content: '/mstile-144x144.png', name: 'msapplication-TileImage' }
    %meta{ content: '#9d1b1b', name: 'theme-color' }
    %meta{ content: 'width=device-width', name: 'viewport' }
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    %meta{ content: yield(:description), name: 'description' }
    %meta{ content: 'website', property: 'og:type' }
    %meta{ content: request.original_url, property: 'og:url' }
    %meta{ content: yield(:og_img_url), itemprop: 'image primaryImageOfPage', property: 'og:image' }
    %meta{ content: 'bloomr', property: 'og:site_name' }
    %meta{ content: yield(:og_title), itemprop: 'title name', name: 'twittertitle', property: 'og:title' }
    %meta{ content: yield(:description), itemprop: 'description', name: 'twitterdescription', property: 'og:description' }
    %meta{ content: 'summary', name: 'twitter:card' }
    %meta{ content: 'www.bloomr.org', name: 'twitter:domain' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    - unless content_for?(:hide_header)
      = render 'shared/header'

    = yield

    - unless content_for?(:hide_footer)
      = render 'shared/new_footer'

    = javascript_include_tag '//cdn.optimizely.com/js/2221001338.js', 'data-turbolinks-eval' => false, async: true
    - unless content_for?(:remove_application_js)
      = javascript_include_tag 'application', 'data-turbolinks-eval' => false
    = yield(:additional_javascript)
