<!DOCTYPE html>
<html class="no-js">
<head>
  <title><%= yield(:title) %> - Bloomr</title>
  <%= favicon_link_tag('favicon.ico')%>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="<%= yield(:description) %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="<%= yield(:og_img_url) %>" />
  <meta property="og:site_name" content="bloomr" />
  <meta name="twitter:title" property="og:title" itemprop="title name" content="<%= yield(:og_title) %>" />
  <meta name="twitter:description" property="og:description" itemprop="description" content="<%= yield(:description) %>" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="community.bloomr.org"/>
  <link href="//fonts.googleapis.com/css?family=Satisfy|Open+Sans:300italic,600italic,300,600&amp;subset=latin,latin-ext" media="screen" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.optimizely.com/js/2221001338.js" data-turbolinks-track></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%# <%= render "shared/header" %1> %>

<%= yield %>

<%# <footer id="footer"> %>
<%#   <div class="container"> %>
<%#     <p>Bloomr - Copyright 2014-2016 - Déclaration CNIL 1779982v0 - <a href="mailto:contact@bloomr.org">contact@bloomr.org</a></p> %>
<%#   </div> %>
<%# </footer> %>

</body>
</html>
